{% assign navurl = page.url | remove: 'index.html' %}
<ul>

  <div class="im-checkout-layout layout-71"> 
<div class="layout-vertical"> 
<div class="im-checkout btn-71"> 
<a href="https://imjo.in/N3FyyZ" class="im-checkout-btn btn--default" target="_blank" rel="modal" style="color:#000000; background:#fccb00; width:180px; border-radius:4px; opacity: 1 !important; font-size: larger !important; padding: 10px !important;">Pay ₹750</a></div> </div> </div>
    
  
{% for item in include.navigation %}
  <li>
    <a href="{{ item.url }}"{% if item.url == navurl %} data-current="current page"{% endif %}>{{ item.text }}</a>
    {% if item.subitems %}
      {% include navigation.html navigation=item.subitems %}
    {% endif %}
  </li>
{% endfor %}
</ul>
