{% assign navurl = page.url | remove: 'index.html' %}
<ul>
<!---- <li> 
<div class="im-checkout-layout layout-71"> 
<div class="layout-vertical"> 
<div class="im-checkout btn-71"> 
<a href="https://imjo.in/BPgjp8" class="im-checkout-btn btn--default" target="_blank" rel="modal" style="color:#000000; zoom: 0.75;background:#fccb00; width:180px; border-radius:4px; opacity: 1 !important; font-size: larger !important; padding: 10px 30px !important;">₹750 Quick Consultation</a></div> </div> </div>
</li>  <li> 
<div class="im-checkout-layout layout-71"> 
<div class="layout-vertical"> 
<div class="im-checkout btn-71"> 
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=TRPX2SDXSUPTA" class="im-checkout-btn btn--default" target="_blank" rel="modal" style="color:#000000; background:#00bfff; width:180px; border-radius:4px; opacity: 1 !important; font-size: larger !important; zoom: 0.75; padding: 10px 30px !important;">Pay $28</a></div> </div> </div>
</li> -->
  
{% for item in include.navigation %}
  <li>
    <a href="{{ item.url }}"{% if item.url == navurl %} data-current="current page"{% endif %}>{{ item.text }}</a>
    {% if item.subitems %}
      {% include navigation.html navigation=item.subitems %}
    {% endif %}
  </li>
{% endfor %}
</ul>
